services:
  cloud_dev_env:
    build: .
    image: cloud_dev_env:latest
    container_name: cloud_dev_env
    ports:
      - "2224:22"
    volumes:
      - /root/yanyun:/root/yanyun
      - /root/vscode-server:/root/vscode-server
    restart: unless-stopped
